@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Jost&family=Open+Sans&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: "Jost", sans-serif;
  background-color: #8bdede; }

.particles {
  background-image: linear-gradient(to bottom right, #000, #000, #8bdede);
  max-width: 500vw;
  max-height: 300vh;
  padding-left: 10rem;
  padding-right: 10rem;
  padding-top: 3rem;
  position: relative;
  box-shadow: 5px 100px 18px #b9937e;
  overflow: hidden;
  clip-path: polygon(0 0, 100% 0%, 100% 79%, 0% 100%);
  z-index: 21000; }
  .particles__logo {
    width: 25rem;
    position: absolute; }
  .particles__moon {
    position: absolute;
    width: 40vw;
    display: flex;
    margin-top: 10rem;
    margin-left: 60vw;
    opacity: 0.5; }

.nav {
  background: none;
  font-family: "Jost", sans-serif;
  display: flex;
  font-size: 2.6rem;
  justify-content: space-between;
  align-content: center;
  color: #8bdede;
  justify-items: flex-end;
  flex-wrap: wrap; }
  .nav__list {
    list-style: none;
    display: flex;
    align-self: center;
    justify-content: flex-end;
    flex: 1; }
    .nav__list :not(:last-child) {
      list-style: none;
      margin-right: 3rem; }

.wrapper {
  color: #aaa;
  font-family: "Jost", sans-serif;
  position: absolute;
  margin-top: 15rem;
  margin-left: 5rem;
  display: inline-flex; }
  .wrapper__description {
    font-size: 7rem;
    font-family: "Jost", sans-serif; }
  .wrapper__text {
    font-size: 4rem; }
  .wrapper__dynamic-texts {
    margin-top: 2.9rem;
    margin-left: 3rem;
    height: 6rem;
    line-height: 65px;
    overflow: hidden; }
  .wrapper__dynamic-texts li {
    color: #b9937e;
    font-size: 4rem;
    list-style: none;
    top: 0;
    position: relative;
    overflow: hidden;
    animation: slide 9.5s steps(5) infinite; }

@keyframes slide {
  100% {
    top: -32.2rem; } }
  .wrapper__dynamic-texts li span {
    position: relative; }
  .wrapper__dynamic-texts li span::after {
    content: '';
    position: absolute;
    left: 0;
    height: 150%;
    width: 100%;
    background-image: linear-gradient(#000, #000);
    background-blend-mode: screen;
    border-left: 2px solid #b9937e;
    animation: typing 1.9s steps(14) infinite; }

@keyframes typing {
  100% {
    left: 100%;
    margin: 0 -35px 0 35px; } }
